.about-section .container-fluid {
    position: relative;
    z-index: 1;
    padding: 2%;
    background-color: #09011b;
}
.image-section-abt{
    width: 35%;
    height: 600px;
    background-color: #100c29;
}
.text-section-abt{
    width: 65%;
    padding: 5%;
}
.about-section .img-box {
    position: relative;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(226, 221, 221, 0.25);
    padding: 0px;
    margin-top: 30%;
    margin-left: 50%;
    height: fit-content;
    width: 60%;
    background-color: transparent;
    border: solid 5px #2f1070;
}

.about-section .img-box img {
    position: relative;
}
.about-section .typo-box {
    padding-left: 40px
}

@media(max-width: 991px) {
    .about-section .typo-box {
        padding-top:15px;
        padding-left: 0
    }
}

.about-section .typo-box h3 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px
}

@media(max-width: 767px) {
    .about-section .typo-box h3 {
        font-size:30px
    }
}

.about-section .typo-box h5 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px
}

.about-section .typo-box .lead {
    font-weight: 400
}

@media(max-width: 767px) {
    .about-section .typo-box .lead {
        font-size:17px
    }
}

.about-section .typo-box .btn-bar {
    width: 40%;
}
.download-btn{
    background-color: #d4d4d4; 
    color: #09011b;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.download-btn:hover{
    background-color: #100c29;
    color: white;
    transition: 0.5s;
}
.about-me .about-list {
    padding: 10px 0 15px
}

.about-me .media {
    line-height: normal;
    width: 100%;
}
.grid-container{
    width: 100%;
    padding: 0px;
}
.about-me .media label {
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    flex: 0 0 90px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px
}

.about-me .media p {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 15px
}
.text-theme{
    color: #b696fa;
}
.about-section{
    background-color: #09011b;
    margin-top: -25px;
}
.about-card-container{
    display: flex;
    flex-direction: column;     
    padding-left: 0%;
    padding-bottom: 5%;
}
.about-card{
    height: 80%;
    width: 80%;  
}
/* Responsive styles */
@media (max-width: 768px) {
    .flex {
      display: flex;
      flex-wrap: wrap;
    }
  
    .image-section-abt, .text-section-abt {
      flex: 1;
      margin: 1rem;
    }
  
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .image-section-abt{
        display: none;
    }
    .about-card-container{
        margin-left: 30px;
    }
    .about-card{
        margin-left: 0px;
        max-height: 30%;
        width: 80%;
    }
    .download-btn{
        max-width: 125px;
        font-size: 14px;
        height: 35px;
    }
    .media{
        font-size: 14px;
    }
    .description-text{
        font-size: 12px;
    }
    .text-section-abt{
        padding: 0px;
        margin-left: 0px;
    }
  }
  
  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .text-section-abt {
      padding-left: 2rem;
    }
    .image-section-abt{
        display: none;
    }
  }