.project-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-cards{
    justify-content: center;
    align-items: center;
}